<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <title>{% block title %} {{ page_title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block page_description %}
    {% endblock page_description %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    {% block scriptHeader %}
    {% endblock scriptHeader %}
</head>

<body class="d-flex flex-column h-100">
    {% include "templates/partials/nav.j2" %}
    <main class="flex-shrink-0">
        <div class="container-fluid">
            {% block content %}{% endblock content %}
        </div>
    </main>
    {% include "templates/partials/footer.j2" %}
    {% block scripts2 %}
    {% endblock scripts2 %}
</body>

</html>