{% extends "templates/partials/base.j2" %}
{% block title %}404 Site does not exist{% endblock title %}
{% block page_description %}
<meta name="description" content="whatever">
{% endblock page_description %}

{% block content %}
<div class="container">
    <h1 class="text-center">404 Site does not exist</h1>
    <div>
        <p>
           The site you are trying to reach does not exist
        </p>
    </div>


{% endblock content %}