{% extends "templates/partials/base.j2" %}
{% block title %}About the Project{% endblock title %}
{% block page_description %}
<meta name="description" content="About the Project">
{% endblock page_description %}

{% block content %}
<div class="container">
    <h1 class="text-center">About the Project</h1>
    <div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>


{% endblock content %}